.header-section{
    background-color: #337ab7;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
.name{
    color: white;
}

.designation{
    color: black;
}

.footer-section{
    background-color: #337ab7;
    padding-left: 50px;
    padding-right: 50px;
}

.link{
    padding-left:50px;
    padding-right:50px;
    color: black;
    transition: all .5s ease-in-out;
}

.link:hover{
    transform: scale(1.2);
}

.skills-section{
    background-color: white;
    padding-left: 80px;
    padding-right: 50px;
    padding-bottom: 20px;
}
.skills-section-images{
    padding-left: 120px;
}

.experience-section{
    background-color: white;
    padding-left:50px;
    padding-right:50px;
}

.projects-section{
    background-color: #337ab7;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;

}